:root {
    --Header-Height: 8vh;
    --Nav-Height: 5vh;
    --Main-Width: calc(100vw - 40px);
    --Main-Max-Width: 1040px;
    --Main-Calculated-Size: min(var(--Main-Width), var(--Main-Max-Width));
    --Main-Margin: calc(calc(100vw - var(--Main-Calculated-Size)) / 2);
    --Image-Link-Size: calc(calc(var(--Main-Calculated-Size) - 4px) / 3);
}

article {
    display: grid;
}

article > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article > img {
    width: 100%;
}

article:nth-child(odd) {
    grid-template-columns: 37% auto;
}

article:nth-child(odd) > div {
    margin-left: 20px;
}

article:nth-child(even) {
    grid-template-columns: auto 37%;
}

article:nth-child(even) > div {
    grid-column: 1;
    grid-row: 1;
    margin-right: 20px;
}

article:nth-child(even) > img {
    grid-column: 2;
}

footer {
    background-size: 12vh;
}

footer > div:nth-child(1n) > h2 {
    font-size: 3vh;
}

.FooterButton > h5 {
    font-size: 1.5vh;
}

#FixMe {
    display: grid;
    grid-column: auto auto;
}

#HeaderLogo {
    content: url(./assets/TypedLogo-Large.png);
    height:var(--Header-Height);
}

.ImageLinkBlock {
    grid-template-columns: var(--Image-Link-Size) var(--Image-Link-Size) var(--Image-Link-Size);
    grid-template-rows: var(--Image-Link-Size) var(--Image-Link-Size);
}

.ImageLink {
    width: var(--Image-Link-Size);
    height: var(--Image-Link-Size);
    max-width: var(--Image-Link-Max-Size);
    max-height: var(--Image-Link-Max-Size);
}

.ImageLink > div {
    height: calc(var(--Image-Link-Size) / 5);
    width: var(--Image-Link-Size);
}

main {
    width: var(--Main-Calculated-Size);
    padding: calc(var(--Header-Height) + var(--Nav-Height)) 20px 20px 20px;
    margin-left: var(--Main-Margin);
}

nav {
    top: var(--Header-Height);
    height: var(--Nav-Height);
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.NavButton {
    width: calc(100vw / 5);
    height: inherit;
}

.NavButton  > div {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}

.NavButton > div > h5 {
    text-align: center;
    width: inherit;
    font-size: 2.5vh;
}

#BabyCat {content: url(./assets/BabyCat-Large.png)}
#Cat {content: url(./assets/Cat-Large.png)}
#CatDog {content: url(./assets/CatDog-Large.png)}
#CatHighFive {content: url(./assets/CatHighFive-Large.png)}
#Chinchilla {background-image: url(./assets/Chinchilla-Large.png)}
#DogBath {content: url(./assets/DogBath-Large.png)}
#DogDiet {content: url(./assets/DogDiet-Large.png)}
#DogMedicine {content: url(./assets/DogMedicine-Large.png)}
#FerretHempOil {content: url(./assets/FerretHempOil-Large.png)}
#Gerbil {background-image: url(./assets/Gerbil-Large.png)}
#GuineaPig {background-image: url(./assets/GuineaPig-Large.png)}
#Hamster {background-image: url(./assets/Hamster-Large.png)}
#HermitCrab {background-image: url(./assets/HermitCrab-Large.png)}
#Kitten {content: url(./assets/Kitten-Large.png)}
#Mouse {background-image: url(./assets/Mouse-Large.png)}
#OldManCat {content: url(./assets/OldManCat-Large.png)}
#Python {content: url(./assets/Python-Large.png)}

@media screen and (orientation: portrait) {
    footer {
        background-size: 15vh;
    }
}