/*This styling will be used for handheld devices in Portrait and under 400px wide */

:root {
    --Header-Height: 8vh;
    --Hamburger-Button-Margin: calc(calc(var(--Header-Height) - 40px) / 2);
}

article {
    width: 100vw;
}

article > img {
    width: 100%;
    height: auto;
}

article > ul {
    margin: 20px;
    list-style-type: circle;
}

form {
    margin: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 35px;
}

form > input {
    height: 25px;
}

form > input[type='submit'], input[type='reset'] {
    height: 35px;
    width: 100px;
}

nav {
    top: var(--Header-Height);
    left: 100vw;
    height: 100vh;
    width: 100vw;
}

.NavButton {
    font-size: 2em;
}

.NavButton > div > h5 {
    border-bottom: 1px solid black;
    padding: 1em;
}

#HamburgerButton {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: var(--Hamburger-Button-Margin) var(--Hamburger-Button-Margin) 0px 0px;
    visibility: visible;
    display: block;
    height: 40px; 
    width: 40px;
    z-index: 2;
    cursor: pointer;
}

#HamburgerButton > span {
    margin: 9px 5px;
    width: 30px;
    height: 2px;
    background-color: #BDBDBD;
    display: block;
    transition: all 0.2s ease-in;
}

#HamburgerCheck {
    display: none;
    height: calc(7vh - 6px);
    width: calc(7vh - 6px);
    border-radius: 10%;
    margin: .75vh;
}

#HamburgerCheck:checked ~ nav {
    left: 0px;
}

#HamburgerCheck:checked ~ label > #Span1 {
    transform: translateY(11px) rotate(45deg);
}

#HamburgerCheck:checked ~ label > #Span2 {
    opacity: 0;
}

#HamburgerCheck:checked ~ label > #Span3 {
    transform: translateY(-11px) rotate(-45deg);
}

header {
    height: var(--Header-Height);
}

#HeaderLogo {
    height: var(--Header-Height);
    width: 18vh;
    max-width: 50vw;
    background-color: white;
    padding: 0px 1vh 0px 1vh;
    content: url(./assets/TypedLogo-Small.png);
}

#HeaderSlogan {
    display: none;
}

.SquareImage {
    height: 150px;
    width: 150px;
    float: right;
    margin-right: 20px;
}

article:nth-child(even) > .SquareImage {
    float: left;
    margin: 0px 5px 0px 20px;
}

.ImageLinkBlock {
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vw 50vw 50vw;
    margin-left: 0px;
}

.ImageLink {
    width: 50vw;
    height: 50vw;
}

.ImageLink > div {
    height: 12.5vw;
    width: 50vw;
}

/* Each image tag will recieve a unique ID */
/* Below we will specify the image to be used for each image tag */

#BabyCat {content: url(./assets/BabyCat-Small.png)}
#Cat {content: url(./assets/Cat-Small.png)}
#CatDog {content: url(./assets/CatDog-Small.png)}
#CatHighFive {content: url(./assets/CatHighFive-Small.png)}
#Chinchilla {background-image: url(./assets/Chinchilla-Small.png)}
#DogBath {content: url(./assets/DogBath-Small.png)}
#DogDiet {content: url(./assets/DogDiet-Small.png)}
#DogMedicine {content: url(./assets/DogMedicine-Small.png)}
#FerretHempOil {content: url(./assets/FerretHempOil-Small.png)}
#Gerbil {background-image: url(./assets/Gerbil-Small.png)}
#GuineaPig {background-image: url(./assets/GuineaPig-Small.png)}
#Hamster {background-image: url(./assets/Hamster-Small.png)}
#HermitCrab {background-image: url(./assets/HermitCrab-Small.png)}
#Kitten {content: url(./assets/Kitten-Small.png)}
#Mouse {background-image: url(./assets/Mouse-Small.png)}
#OldManCat {content: url(./assets/OldManCat-Small.png)}
#Python {content: url(./assets/Python-Small.png)}