:root {
    --Midnight-Blue: #003B6D;
    --Blue-Sky: #6699CC;
    --Dim-Gray: #676767;
    --Silver: #BDBDBD;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

#menuButton {
    visibility: hidden;
}

@media (orientation:portrait) and (max-width: 600px) {
    header {
        display: inline-block;
        flex-direction: row;
        background-color: var(--Blue-Sky);
        align-content: space-between;
        width: 100vw;
        height: 8vh;
    }
    
    #HamburgerButton {
        visibility: visible;
        display: block;
        float: right;
        height: calc(7vh - 6px);
        width: calc(7vh - 6px);
        background-color: var(--Dim-Gray);
        border: 1px solid black;
        border-radius: 10%;
        margin: .75vh;
    }

    #HamburgerButton:active {
        background-color: var(--Silver);
    }

    #HamburgerButton:active > span {
        background-color: var(--Dim-Gray);
    }

    #HamburgerButton > span {
        margin-top: calc(5vh / 4);
        margin-left: 1vh;
        width: 4vh;
        height: 2px;
        background-color: #BDBDBD;
        align-content: space-between;
        display: block;
    }
    
    #MenuContainer {
        visibility: hidden;
    } 

    #headerLogo {
        content: url(./assets/TypedLogo-Large.png);
        height: 8vh;
        width: 18vh;
        background-color: white;
        padding: 0px 1vh 0px 1vh;
    }
    
    #HeaderSlogan {
        display: none;
        width: calc(100vw - 20vh);
        background-color: darkblue;
        color: white;
        font-style: italic;
        margin: 0px;
        align-self: center;
        text-align: center;
        font-size: large;
    }
}