:root {
    --Midnight-Blue: #003B6D;
    --Blue-Sky: #6699CC;
    --Dim-Gray: #676767;
    --Silver: #BDBDBD;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a, a:link, a:visited, a:hover, a:active {
    color: var(--Midnight-Blue) !important;
    text-decoration: none;
}

a:hover, a:active {
    background-color: var(--Silver);
}

body {
    margin: 0px;
    box-sizing: border-box;
}

#menuButton {
    visibility: hidden;
}

nav > a {
    user-select: none;
}

nav > a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > a:link, a:visited, a:hover, a:active {
    color: white;
    background-color: var(--Midnight-Blue);
}

footer {
    background-color: var(--Silver);
    color: var(--Midnight-Blue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer > div {
    background-color: var(--Silver);
}

footer > div > a {
    color: var(--Midnight-Blue) !important;
    background-color: var(--Silver) !important;
}

.FooterButton {
    user-select: none;
}

.FooterButton:hover {
    background-color: var(--Dim-Gray);
    color: white;
}

#UtilityLinks {
    display: flex;
    flex-flow: row;
    width: 100vw;
}

#UtilityLinks > div {
    margin: 0px 5px;
    white-space: nowrap;
}

#UtilityLinks > div > a {
    font-size: small;
}