:root {
    --Midnight-Blue: #003B6D;
    --Blue-Sky: #6699CC;
    --Dim-Gray: #676767;
    --Silver: #BDBDBD;
}

body {
    margin: 0px;
    box-sizing: border-box;
}

#menuButton {
    visibility: hidden;
}

@media (orientation:portrait) and (max-width: 600px) {
    #menuButton {
        visibility: visible
    }
    
    #MenuContainer {
        visibility: hidden;
    } 

    header {
        display: inline-flex;
        background-color: darkblue;
    }

    #headerLogo {
        content: url(TypedLogo-Small.png);
        height: 8vh;
        width: auto;
    }
    
    header > img {
        height: 25vw;
        width: 25vw;
        max-width: 25%;
        margin: 0px;
        background-color: white;
    }
    
    header > h2 {
        display: flexbox;
        width: 75vw;
        background-color: darkblue;
        color: white;
        font-style: italic;
        margin: 0px;
        align-self: center;
        text-align: center;
    }
}